<mat-toolbar>
  <p>1 UAH =&nbsp;</p>
  <mat-chip-set aria-label="Dog selection">
    @for (currEl of headerRates; track currEl) {
      <mat-chip>
        {{currEl.rate}}&nbsp;{{currEl.currency}}
      </mat-chip>
    }
  </mat-chip-set>
</mat-toolbar>

<main>
  <div class="form-container">
    <form [formGroup]="leftForm" novalidate>
      <mat-form-field>
        <mat-label>Currency</mat-label>
        <mat-select formControlName="currency">
          @for (currEl of currenciesList; track currEl) {
            <mat-option [value]="currEl">{{currEl}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="amount" mask="0*.00" placeholder="Amount" name="amount">
      </mat-form-field>
    </form>
  </div>
  <div class="arrow">
    <mat-icon color="'green'">sync_alt</mat-icon>
  </div>
  <div class="form-container">
    <form [formGroup]="rightForm" novalidate>
      <mat-form-field>
        <mat-label>Currency</mat-label>
        <mat-select formControlName="currency">
          @for (currEl of currenciesList; track currEl) {
            <mat-option [value]="currEl">{{currEl}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="amount" mask="0*.00" placeholder="Amount" name="amount">
      </mat-form-field>
    </form>
  </div>
</main>

<router-outlet></router-outlet>
